
.mkrapel-cl-tabs a{ font-size: 16px; }
.mkrapel-cl-sections {
    list-style: outside none none;
    margin: 8px 0 0;
    padding: 0;
    font-size: 15px;
    color: #666;
}
.mkrapel-cl-sections li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}
.mkrapel-cl-sections a { line-height: 2; padding: 0.2em; text-decoration: none; }
.mkrapel-cl-sections a.current { font-weight: 600; border: medium none; color: #000; }



.err_msgs{ color: #FF0000; }
table.mkrapel_cl_fields_table{
    position: relative;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}
table.mkrapel_cl_fields_table thead th,
table.mkrapel_cl_fields_table tfoot th {
    color: #32373c;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
}
table.mkrapel_cl_fields_table thead th {
    border-bottom: 1px solid #e1e1e1;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.mkrapel_cl_fields_table tfoot td, 
.mkrapel_cl_fields_table tfoot th { border-top: 1px solid #e1e1e1; border-bottom: none; }
table.mkrapel_cl_fields_table td{ color: #555; }
table.mkrapel_cl_fields_table tr:nth-child(2n+1) td{ background: #f9f9f9; }
table.mkrapel_cl_fields_table td, 
table.mkrapel_cl_fields_table th{
    display: table-cell !important;
    padding: 13px !important;
    vertical-align: top;
    line-height: 22px;
}
table.mkrapel_cl_fields_table thead th.status,
table.mkrapel_cl_fields_table tfoot th.status,
table.mkrapel_cl_fields_table tbody td.status { text-align: center; }
table.mkrapel_cl_fields_table td.sort{
    cursor: move;
    font-size: 20px !important;
    padding: 13px !important;
    text-align: center;
}
table.mkrapel_cl_fields_table td.sort::before{
    content: '\f333';
    font-family: Dashicons;
    text-align: center;
    line-height: 1;
    color: #999;
    display: block;
    width: 17px;
    float: left;
    height: 100%;
    line-height: 24px;
}
table.mkrapel_cl_fields_table td.action{ padding: 10px 12px !important; }
table.mkrapel_cl_fields_table td.action .action-btn{ padding: 2px 15px; line-height: 15px; height: 22px; border-radius: 20px; }
table.mkrapel_cl_fields_table tr.mkrapel-cl-strikeout td { background: rgba(255, 0, 0, .4)!important; opacity: 0.6; text-decoration: line-through; }
table.mkrapel_cl_fields_table tr.mkrapel-cl-disabled td { opacity: 0.4; }
table.mkrapel_cl_fields_table tr.mkrapel-cl-disabled td.td_select { opacity: 1; }
.mkrapel-cl-dynamic-row-table .action-cell{ width: 30px; text-align: center; }
.mkrapel-cl-dynamic-row-table .action-cell a.btn{
    background-color:#00A0D2;
    border:1px solid #0073AA;
    color:#FFFFFF;
    padding:2px 5px;  
    border-radius: 3px;
    font-size:12px;
    text-decoration:none;
}
.mkrapel-cl-dynamic-row-table .action-cell a.btn-blue{ background-color:#00A0D2; border:1px solid #0073AA; }
.mkrapel-cl-dynamic-row-table .action-cell a.btn-red{ background-color:#ff6666; border:1px solid #ff4c4c; }
.mkrapel-cl-dynamic-row-table .action-cell a.dashicons{
    line-height: inherit;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc;
}
.mkrapel-cl-dynamic-row-table .action-cell a.dashicons-plus{ background-color:#00A0D2; border:1px solid #0073AA; }
.mkrapel-cl-dynamic-row-table .action-cell a.dashicons-no-alt{ background-color:#ff6666; border:1px solid #ff4c4c; }



.mkrapel-cl-notice a { display:block; padding:0; height: 63px; }
.mkrapel-cl-notice p { margin-bottom:0px; }
.mkrapel-cl-notice ul { list-style-type: none; margin: 0px; }
.mkrapel-cl-notice ul li { background:url("tick.png") no-repeat 0 50%; padding-left: 20px; }



.select2-drop-mask { z-index: 99999998!important; }
.select2-drop { z-index: 99999999!important; }
.select2-container { z-index: 99999999!important; }
.select2-container .select2-search--inline .select2-search__field { margin-top: 0px !important; margin-bottom: 0px !important; }
.select2-container .select2-search__field{ min-width: 0 !important; }



.woocommerce-message { margin-top: 10px; }
#mkrapel_cl { margin-top: 10px; }
#mkrapel_cl thead th input { margin: 2px 0 0 0 !important; }
#mkrapel_cl tbody .description { display: none; color: #999; }
#mkrapel_cl tbody td {
    overflow: visible !important;
    padding: 7px;
    cursor: move;
    vertical-align: middle;
}
#mkrapel_cl tbody td:last-child,
#mkrapel_cl tbody th:last-child { padding-right: 14px; }
#mkrapel_cl tbody input.input-text,
#mkrapel_cl tbody td select { width: 100%; }
#mkrapel_cl tfoot .description { color: #999; }
#mkrapel_cl .check-column { padding: 7px 0 7px 14px; }
#mkrapel_cl strong.core-field { color: #a4688d; }
#mkrapel_cl .field-type,
#mkrapel_cl .field-options,
#mkrapel_cl span.na,
#mkrapel_cl .field-validation { text-align: center; color: #aaa; }
#mkrapel_cl .field-type select,
#mkrapel_cl .field-options select,
#mkrapel_cl span.na select,
#mkrapel_cl .field-validation select,
#mkrapel_cl .field-type div,
#mkrapel_cl .field-options div,
#mkrapel_cl span.na div,
#mkrapel_cl .field-validation div,
#mkrapel_cl .field-type input,
#mkrapel_cl .field-options input,
#mkrapel_cl span.na input,
#mkrapel_cl .field-validation input { text-align: left; }
#mkrapel_cl span.na { display: block; }
#mkrapel_cl .clear { text-align: center; }
#mkrapel_cl tr.disabled td { opacity: 0.3; text-decoration: line-through; }
#mkrapel_cl tr.disabled td:first-child { opacity:1; }
tr.strikeout1 td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #FF0000;
    width: 100%;
}



.wcfd_popup_wrapper input[type="text"]:disabled, .wcfd_popup_wrapper select:disabled { background: #f6f6f6; }
h1.nav-tab-wrapper, h2.nav-tab-wrapper, h3.nav-tab-wrapper { border-bottom: 1px solid #CCC; padding-bottom: 0px; padding-left: 10px; }
.woocommerce_page_checkout_form_designer .ui-dialog { height: auto !important; }
.woocommerce_page_checkout_form_designer .ui-dialog .ui-dialog-title { line-height: 20px; }



:root {
    /*--primary-bg-color: #561849;
    --primary-text-color: #561849;
    --primary-border-color: #3b80ee;*/

    --primary-bg-color: #007cba;
    --primary-text-color: #0071a1;
    --primary-border-color: #0071a1;

    --primary-alt-bg-color: #f3f5f6;
    --primary-alt-text-color: #0071a1;
    --primary-alt-border-color: #0071a1;
}



.mkrapel-cl-wrap .btn{
    display: inline-block;
    background-image: none;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: 0;
    margin: 0;
    padding: 12px 20px;
    box-sizing: border-box;
    -webkit-appearance: none;
    transition: .1s;

    color: var(--primary-alt-text-color);
    background-color: var(--primary-alt-bg-color);
    border-color: var(--primary-alt-border-color);
}
.mkrapel-cl-wrap .btn:hover{ opacity: 0.9; }
.mkrapel-cl-wrap .btn-small{ font-size: 13px; padding: 8px 10px; border-radius: 2px; }
.mkrapel-cl-wrap .btn-tiny{ font-size: 13px; padding: 5px 5px; border-radius: 2px; }
.mkrapel-cl-wrap .btn-primary{ color: #fff; background-color: var(--primary-bg-color); border-color: var(--primary-border-color); }
.mkrapel-cl-wrap .btn-primary-alt{ color: var(--primary-alt-text-color); background-color: var(--primary-alt-bg-color); border-color: var(--primary-alt-border-color); }
.mkrapel-cl-wrap .btn-danger{ color: #fff; background-color: #f44336; border-color: #c3352b; }
.mkrapel-cl-wrap .btn:disabled,
.mkrapel-cl-wrap .btn[disabled]{
    color: #cbcbcb;
    border-color: #cbcbcb;
    background-color: #fcfcfc;
    cursor: default;
}



.mkrapel_cl_tooltip{
    float:right;
    display: inline;
    position: relative;
    font-size: 12px;
    height: 100%;
}
.mkrapel_cl_tooltip img{
    padding: 0px;
    vertical-align: middle;
    cursor: help;
    border: medium none;
    height: 16px;
    width: 16px;
}
.mkrapel_cl_tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,1);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: -100px;
    padding: 10px 15px;
    position: absolute;
    z-index: 9998;
    width: 350px;
}
.mkrapel_cl_tooltip:hover:before{
    border: solid;
    border-color: #000 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 9999;
}



.mkrapel-cl-settings-table{ width: 100%; }
.mkrapel-cl-settings-table td{ padding: 5px 0px; }
.mkrapel-cl-settings-table td.section-title{
    padding: 30px 0px 5px 0px;
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 1px dashed #cecece;
}
.mkrapel-cl-settings-table td.label{
    width: 22%;
    text-align: left;
    padding-right: 0;
    font-weight: normal;
}
.mkrapel-cl-settings-table td.tip{ width: 16px; text-align: center; padding: 0; }
.mkrapel-cl-settings-table td.field{ padding-left: 0; }
.mkrapel-cl-settings-table textarea { width: 90%; font-size: 0.9em; }
.mkrapel-cl-subtitle{ font-size:11px; color:#666666; }



.ui-widget-content { border: 1px solid #aaa !important; color: #000 !important; }
.ui-draggable .ui-dialog-titlebar {
    background: #fff !important;
    border-bottom: 1px solid #aaaaaa;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 15px !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 15px !important; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 15px !important; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 15px !important; }